<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <%- include ("../partials/nav.ejs") %>
  <div class="bg-secondary p-2">
    <div class="d-flex justify-content-center py-5">
      <img class="mx-1" src="images/plaque.png">
      <img class="mx-1" src="images/activator2.png">
      <img class="mx-1" src="images/activator1.png">
      <img class="mx-1" src="images/profile.png">
    </div>
    
    </div>
    <div class=" text-center py-5">
      <div>
        <h1 class="text-info">Andy Heywood</h1>
      </div>
      <div>
        <h3 class="grey">Jarrow's best chiropractor</h3>
      </div>
        
    </div>
</body>
</html>
